nav img{
max-width: 70px;
max-height: 70px;
object-fit: scale-down;
border-radius: 50%;

}
main{
  text-align:center;

}

#codes{
    width:98%;
    min-height: 280px;
    border-radius:20px;
    border:2px solid rgb(131,131,131);  
}
#buttons button{
    border-radius: 50px;
    padding: 12px;
    width:20%;
}
#title-result{
    padding:10px;
    border-bottom:2px solid rgb(131,131,131);
    margin: 8px 0px;
}

#result{
    border:20px;
     width:10px;
  text-align: center;
}